<div>        <!--added the background image(using class="myBgImage") in css of this component and another in index.html -->
  <h1 style="text-align: center">
    Welcome to {{ title }}
  </h1>

  <!-- <h1>
    Sign in
  </h1>

  <button (click)="socialSignIn('facebook')">Sign in with Facebook</button>
  <button class="fa fa-google" ></button> -->


  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">

<div  class="container" ng-app="myApp"  > 



      
      <script id="metamorph-1-start" type="text/x-placeholder"></script><script id="metamorph-21-start" type="text/x-placeholder"></script>

	<div class="container text-center">
	    <form class="form-signin" data-ember-action="2">
	    	<h2 class="form-signin-heading">Sign in</h2>

			<small class="text-muted">Connect your service with your favorite social network</small>
			<br><br>

			
<p>
<a class="btn btn-primary social-login-btn social-facebook" href="/auth/facebook"><i class="fa fa-facebook"></i></a>
<a class="btn btn-primary social-login-btn social-twitter" href="/auth/twitter"><i class="fa fa-twitter"></i></a>
</p>
<p>
<a class="btn btn-primary social-login-btn social-linkedin" href="/auth/linkedin"><i class="fa fa-linkedin"></i></a>

<!--GOOGLE SIGNIN BUTTON-->

<button class="btn btn-primary social-login-btn social-google" (click)="socialSignIn('google')" href="/auth/google"><i class="fa fa-google-plus"></i></button>
</p>




	    </form>
    </div>