<div class = "LeftBox">
  <input type="search" placeholder="search your channel">
  <p>
    Channels
    <button type="button" class="btn btn-default" (click)="channels()">
      <span class="glyphicon glyphicon-plus-sign"></span>
    </button>
  </p>
</div>
<div class="header">
  <span id="ph" class="fa fa-ph"></span>
  <i class="m-i"></i>
  <input type="text" class="form-control" placeholder="Serach.." name="serach">
</div>
<div class = "right">
  <input type="text" class="message" placeholder="Send your message" name="msg">
</div>