<div class="box">
  <div class="div1">
    <br>
    <br>
    <!-- channelName stores the value of whatever we type(for ref- see ts file) -->
    <input type="search" class="btn btn-default"  [(ngModel)]="channelName" (keyup.enter)="searchChannels()" id="searchYourChannel" onfocus="this.value=''" placeholder="search your channel">    
    <button type="button" class="btn btn-default" (click)="searchChannels()">
      <span class="glyphicon glyphicon-search"></span>
    </button>
    <button type="button" class="btn btn-default" (click)="addChannel()">
      <span class="glyphicon glyphicon-plus-sign"></span>
    </button><br><br>
    <li id="MyVar_{{MyVar}}" class="channelFont" (click)="getIdMember(MyVar)">{{MyVar}}</li>
    <button (click)="ShowHide(1)">Show All Channels</button><button (click)="ShowHide(0)">Hide All Channels</button>
    <div [className]="show==1 ? 'active' : 'hidden'">            
      <!-- see ShowHide(num) to see its functionality...if show=1 it'll be active else hide  -->
     <ul> 
      <li *ngFor="let element of myAllChannels" 
      [className]="element.unique_name=='' ? 'channelFont hidden' : 'channelFont active'" (click)="getChannelIdbyName(element.unique_name)">
     <i id="channelname"> {{ element.unique_name }} </i>
    </li>
  </ul>
  </div>
    
  </div>
  <div class="div3">
    <div class="panel panel-default">
      <div class="panel-heading">Message Heading - {{MyVar}} <button type="button" class="btn btn-primary" (click)="logout()">Logout</button></div>
      <div class="panel-body" >
        <li *ngFor="let element of allMsg"
        [className]="element.body.search('- suyash mehrotra') <=0 ? 'alert alert-warning' : 'alert alert-success'"
       
        >
        <div  [ngStyle]='{"float": element.body.search("- suyash mehrotra") <=0 ? "right": "left"}'>
          {{ element.body }}
        </div>
        <br>
        </li>
      </div>
    </div>
   
    <div class="div2">

<!-- on focus added to clear the input field once we have typed there -->

      <input type="text" class="message btn btn-default" (keyup.enter)="sendMessage()" onfocus="this.value=''" id="sendYourMessage" [(ngModel)]="sendMsg" placeholder="Send your message" name="msg" [(ngModel)]="searchValue">&nbsp;&nbsp;   
     
      <button type="button" value="snd"   (click)="sendMessage()" >
      <span class="glyphicon glyphicon-play-circle"></span>
        </button>
        
    <br>
    <br>
    
    <br>
    <br>
    
  </div>
  </div>
  
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '500px' }"></ngx-loading>