.form-control {
    width: 180px;
    /* padding: 10px 10px; */
    background-color: #e7c4c1;
}

.srch{
    /* padding: 10px 10px; */
    background-color: #e7c4c1;
}
#username {
  text-align: auto;
  font-size: 18px;
  margin-top: 18px;
}
.avatar{
  width: 50px;
    height: 50px;
}

.message{
    /* padding: 10px 10px; */
    width: 580px;
    /* margin-left: 330px; */
}
div.box {
    background: #EEE;
    height: 100vh;
    width: 100%;
  }
  
  div.header{
  
    height: 18vh;
    width:30%;
  }
  
  div.div1 {
    background: rgb(148, 87, 172);
    float: left;
     height: 500px; 
    width: 30%;
    /* max-height: 500px; */
    overflow-y: auto;
  }
  
  div.div2 {
    /* height: 100px; */
    width:70%
  }
  
  div.div3{
    /* margin-left:300px; */
    margin-left: 420px;
    height: 500px;
  }

  /* .panel-default{
    width: 70;
    
  } */
  .panel-body{
    height:400px; 
    overflow-y: auto;
  }
  .fa-telegram{
    margin-left:1000px;
  }
  .btn-primary{
    margin-right: 10%;
  }
  .btn-primary{
    float: right;
  }
  .channelFont{
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke; 
    cursor: pointer;
  }
  .hidden{
    display: none;
}
#channelname{
  cursor: pointer;
}
#searchYourChannel{
  cursor: auto;
}
#sendYourMessage{
  cursor: text;
}
