<div class="box">
  <div class="div1">
    <br>
    <br>
    <!-- Channel name stores the value of whatever we type(for ref- see ts file) -->
    <input type="search" class="btn btn-default" [(ngModel)]="channelName" placeholder="search your channel">    
    <button type="button" class="btn btn-default" (click)="searchChannels()">
      <span class="glyphicon glyphicon-search"></span>
    </button>
    <button type="button" class="btn btn-default" (click)="addChannel()">
      <span class="glyphicon glyphicon-plus-sign"></span>
    </button><br><br>
    <li id="MyVar_{{MyVar}}" class="channelFont" (click)="getIdMember(MyVar)">{{MyVar}}</li>
    <button (click)="ShowHide(1)">Show All Channels</button><button (click)="ShowHide(0)">Hide All Channels</button>
    <div [className]="show==1 ? 'active' : 'hidden'"> 
    <li *ngFor="let element of myAllChannels" [className]="element.unique_name=='' ? 'channelFont hidden' : 'active'" (click)="getChannelIdbyName(element.unique_name)">
      {{ element.unique_name }} 
    </li>
  </div>
    
  </div>
  <div class="div3">
    <div class="panel panel-default">
      <div class="panel-heading">Message Heading <button type="button" class="btn btn-primary" (click)="logout()">Logout</button></div>
      <div class="panel-body">
        <li *ngFor="let element of allMsg">
          {{ element.body }}
        </li>
      </div>
    </div>
    <div class="div2">
      <input type="text" class="message btn btn-default" [(ngModel)]="sendMsg" placeholder="Send your message" name="msg">&nbsp;&nbsp;
     
      <button type="button" value="snd"  (click)="sendMessage()" >
      <span class="glyphicon glyphicon-play-circle"></span>
        </button>
        
    <br>
    <br>
    
    <br>
    <br>
    
  </div>
  </div>
  
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>